<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()">
        <ion-icon class="icon-close" name="close"></ion-icon> 
      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-icon id="logo-twit" name="logo-twitter"></ion-icon> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container">
    <div class="login-text">Sign in to Twitter</div>

    <ion-button shape="round" color="light" (click)="login()" class="google-button">
      <ion-icon slot="start" name="logo-google"></ion-icon>
      Sign in with Google
    </ion-button>

    <ion-button shape="round" color="dark" class="apple-button">
      <ion-icon slot="start" name="logo-apple"></ion-icon>
      Sign in with Apple
    </ion-button>

    <div class="or-container">
      <span class="or-text">or</span>
    </div>

    <ion-input fill="outline" placeholder="  Phone, email, or username"></ion-input>

    <ion-button shape="round" color="dark" class="next-button">
      Next
    </ion-button>

    <ion-button shape="round" color="light" class="password-button">
      Forgot password?
    </ion-button>


    
  </div>
</ion-content>