<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="home" href="/tabs/home" class="tab-button">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="buscador" href="/tabs/buscador" class="tab-button">
      <ion-icon name="search-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="notificaciones" href="/tabs/notificaciones" class="tab-button">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-badge class="pulse-badge">!</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>