<ion-header>
  <ion-toolbar>
    <ion-title>Twitter</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="toggleProfileMenu()">
        <ion-avatar>
          <img [src]="user?.photoUrl || '/assets/icon/user.png'" alt="User Avatar" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-menu" *ngIf="showProfileMenu">
    <ion-card>
      <ion-card-header>
        <ion-avatar>
          <img [src]="user?.photoUrl || '/assets/icon/user.png'" alt="User Avatar" />
        </ion-avatar>
        <ion-card-title>{{ user?.displayName || "Guest" }}</ion-card-title>
        <ion-card-subtitle>{{ user?.email || "No email" }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-button expand="full" fill="outline">Settings</ion-button>
        <ion-button expand="full" fill="outline">Profile</ion-button>
        <ion-button expand="full" fill="solid" (click)="goToLogin()">Login</ion-button>
        <ion-button expand="full" fill="solid" color="danger" (click)="logout()">Log out</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-list>
    <ion-item *ngFor="let post of posts">
      <ion-avatar slot="start">
        <img [src]="post.avatar" />
      </ion-avatar>
      <ion-label>
        <h2>{{ post.author }} <small style="color: darkgray;">{{ post.email }} · {{ post.time }}</small></h2>
        <p>{{ post.content }}</p>
        <ion-card *ngIf="post.img">
          <img [src]="post.img" [style.width]="'100%'" />
        </ion-card>
        <ion-row class="actions">
          <ion-button fill="clear" (click)="commentOnPost(post)">
            <ion-icon name="chatbubble"></ion-icon> {{ post.comments.length }}
          </ion-button>
          <ion-button fill="clear" (click)="likePost(post)">
            <ion-icon name="heart" [color]="post.liked ? 'danger' : 'medium'"></ion-icon>
            {{ post.likes }}
          </ion-button>
        </ion-row>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="openPostModal()">
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>