<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Centro de notificaciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notificaciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>


    </ion-card-header>
    <ion-card-content>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
  
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>

    </ion-card-header>
    <ion-card-content>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
  
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>

    </ion-card-header>
    <ion-card-content>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
  
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>

    </ion-card-header>
    <ion-card-content>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
  
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>

    </ion-card-header>
    <ion-card-content>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          </ion-thumbnail>
          <ion-label>Item</ion-label>
        </ion-item>
  
    </ion-card-content>
  </ion-card>

  <ion-content>
    <div class="tweet">
      <div class="tweet-header">
        <img src="/assets/icon/user.png" alt="Avatar" class="avatar" />
        <div class="user-info">
          <div class="name">John Doe</div>
          <div class="username">johndoe</div>
        </div>
        <div class="options">
          <ion-icon name="ellipsis-horizontal"></ion-icon>
        </div>
      </div>
      <div class="content">
        kanye west is a neonazi
      </div>
      <div class="actions">
        <div class="action-button">
          <ion-icon name="chatbubble-outline"></ion-icon>
          <span>12</span>
        </div>
        <div class="action-button">
          <ion-icon name="repeat-outline"></ion-icon>
          <span>5</span>
        </div>
        <div class="action-button">
          <ion-icon name="heart-outline"></ion-icon>
          <span>20</span>
        </div>
        <div class="action-button">
          <ion-icon name="share-outline"></ion-icon>
        </div>
      </div>
    </div>

</ion-content>
